<footer class="footer">
    <div class="footer__arrow">
      <a href="#header">
        <img src="/images/Copia de ico-arrow.svg" alt="flecha hacia arriba" />
      </a>
    </div>
    <section class="footer__nav">
      <ul>
        <li><a href="https://adalab.es/">Articles</a></li>
        <li><a href="https://adalab.es/">Books</a></li>
        <li><a href="https://adalab.es/">Events</a></li>
        <li><a href="https://adalab.es/">Reasons</a></li>
        <li><a href="https://adalab.es/">Tips</a></li> 
      </ul>
    </section>
    <section class="footer__socials">
      <ul>
        <li><a href="https://adalab.es/">Twitter</a></li>
        <li><a href="https://adalab.es/">Instagram</a></li>
        <li><a href="https://adalab.es/">Mastodon.social</a></li>
      </ul>
    </section>
    <section class="footer__copyright">
      <p>© 2022</p>
      <p>we <span class="footer__copyright--heart">❤︎</span> components</p>
    </section>
  </footer>
